@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.datePicker .react-datepicker-wrapper {
  display: block;
}

.datePicker .react-datepicker-wrapper input {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgray;
}

.popOver .datePicker .react-datepicker-popper {
  z-index: 9;
}

.datePicker .react-datepicker {
  font-family: "Nunito", sans-serif;
}
