@tailwind base;
@tailwind components;
@tailwind utilities;

.datePicker .react-datepicker-wrapper {
  display: block;
}

.datePicker .react-datepicker-wrapper input {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgray;
}
